.container {
    background-color: white;
    width: 600px;
    height: 400px;
}

.box1 {
    background-color: black;
    border: 1px solid black;
    width: 100%;
    height: 20%;
}

table {
    color: white;
    font-size: 25px;
}

th {
    display: inline-block;
    margin: 20px;
}

.th {
    font-size: 5px;
    display: inline-block;
    margin-left: 250px;
}

.th1 {
    font-size: 5px;
}

.th2 {
    font-size: 5px;
}

.box2 {
    background-color: orange;
    width: 100%;
    height: 60%;
    /* margin-top: 5px; */
    overflow: hidden;
}

.box3 {
    background-color: red;
    width: 100%;
    height: 10%;
}

.box22 {
    background-color: white;
    width: 90%;
    height: 10%;
    margin: 15px;
}

.box2-6 {
    background-color: white;
        width: 10%;
        height: 10%;
        margin: 5px;
        margin-left: 15px;
}

